%table#showajaxusers.table.table-striped.table-hover
  %thead
    %tr
      %th Username
      %th Imagecount
      %th UserImages
  %tbody
  - @users.each do |user|
    %tr
      %td
        = user.name
      %td
        = user.images.count
        - user.images.each do |image|
          %td
            [#{image.name}]
